doctype html
html(lang="zh-CN")
  head
    title Blog-CMS
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="icon" href="public/favicon.ico")
  body
    waiting(v-if='waiting')
    pop(v-show='pop')
    component(:is='bg')
    router-view
    script(src='public/build.js')