@import "../mixins";

section.account{
  @include rightSide();
  .title{
    @include title();

  }
  .password{
    width: 260px;
    margin: 120px auto 40px auto;
    input{
      margin: 30px auto;
      @include defaultInput(200px,40px);
      border-bottom: 1px solid $baseColor1;
    }
  }
  .panel{
    @include panel();
  }
}