@import "../mixins";

section.articleList {
  @include rightSide();
  button{
    @include center();
    position: relative;
    width:200px;
    height:60px;
    margin: 30px 0 ;
    font-size: 20px;
    border-bottom: 2px solid $baseColor1;
    border-top: 2px solid $baseColor1;
  }
  table {
    position: absolute;
    @include center();
    top: 150px;
    width: 60%;
    tr {
      height: 50px;
      th {
        font-family: $fontYaHei;
        font-weight: normal;
        cursor: pointer;
        &:first-of-type {
          width: 40%;
          min-width: 40px;
        }
        &:nth-of-type(2) {
          width: 30%;
          min-width: 200px;
        }
        &:last-of-type{
          width: 30%;
          min-width: 100px;
          cursor: default;
        }
      }
      td:first-of-type{
        cursor: pointer;
      }
      td:nth-of-type(2), td:nth-of-type(3) {
        text-align: center;
      }
      td i{
        cursor: pointer;
      }
      td i:after{
        display: inline-block;
        width: 10px;
        content: '';
      }
    }
  }
}