@import "../mixins";
$pictureSize:100px;

aside.console{
  top:$headerHeight;
  padding-top: 50px;
  position: absolute;
  left: 0;
  bottom:0;
  width:200px;
  background-color: transparent;

  .circle{
    width:$pictureSize;
    height: $pictureSize;
    margin: auto;
    border-radius:50%;
    overflow: hidden;
    img{
      width:$pictureSize;
      height: $pictureSize;
    }
  }

  menu{
    margin:0;
    padding: 0;
    position: absolute;
    top:200px;
    bottom: 0;
    width: 100%;
    color: $baseColor1;
    ul{
      padding: 0 50px;
      >li{
        list-style: none;
        transition: all 0.4s;
        margin-top: 10px;
        border-bottom: 2px solid $baseColor1;
        padding-left: 4px;
        cursor: pointer;
        height: 40px;
        line-height: 40px;
        >span{
          display: inline-block;
          margin-left:20px;
        }
        &:hover{
          padding-left: 8px;
        }
      }
    }
  }
}