@import "../mixins";

section.links{
  @include rightSide();
  color:$baseColor1;
  min-width: 500px;
  .title{
    @include title();
  }
  table {
    width: 700px;
    position: relative;
    @include center();
    tr {
      height: 50px;
      th {
        &:first-of-type {
          width: 120px;
        }
        &:nth-of-type(2) {
          width:60%;
        }
      }
      td {
        text-align: center;
        input{
          @include defaultInput(60%,30px);
          border:1px solid $baseColor1;
        }
        &:first-of-type{
          input{
            max-width:60px;
          }
          i{
            cursor: pointer;
            &:after{
              content: '';
              width: 10px;
              display: inline-block;
            }
          }
        }
      }
    }
  }
  .panel{
    @include panel();
  }
}