@import "../mixins";

section.login {
  position: absolute;
  top: 40px;
  left: 0;
  bottom: 0;
  right: 0;
  min-height: 500px;
  .form {
    padding: 10px 30px;
    width: 500px;
    height:500px;
    margin: 100px auto;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);

    >p {
      height: 80px;
      text-align: center;
      color: $baseColor1;
      font-family: $fontYaHei;
      input {
        @include defaultInput(300px,34px);
        color: $baseColor1;
        border-bottom:1px solid $baseColor1;
        background-color: transparent;
      }
      button {
        @include defaultButton(transparent, $baseColor1);
        border:1px solid $baseColor1;
        width: 100px;
        height: 34px;
        &:hover{
          color:$baseColor4;
        }
      }
      label{
        display: block;
        margin: 10px;
        font-size: 12px;
      }
      &:last-of-type{
        color: darken($baseColor1,50%);
        text-align: right;
        margin-right: 80px;
        font-size: 12px;
        .demo{
          color: darken($baseColor1,10%);
          cursor: pointer;
        }
      }
    }
  }
}