@import "../mixins";

footer{
  position: absolute;
  bottom: 0;
  font-family: $fontSourceSansPro;
  div{
    text-align: center;
    color: #aaa;
    font-weight: 100;
  }
  div.copyright{
    font-size: 12px;
    height: 40px;
    padding-top: 26px;
    border-top:1px solid #ddd;
  }
  div.login{
    font-size: 14px;
    margin-bottom: 20px;
    cursor: pointer;
  }
}