* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-family: $fontGothic;
  color: $black2;
}

a {
  text-decoration: none
}

ul, ol, li {
  list-style: none;
}

button, input, textarea {
  border: none;
  outline: none;
  font-family: $fontGothic;
  background-color: transparent;
}

button {
  cursor: pointer;
}
