$baseColor1: #FFF;
$baseColor4: #424242;

$fontYaHei: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
$fontHelvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;
$fontSourceSansPro:'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
$fontGothic:Century Gothic, sans-serif;

$headerHeight: 50px;