@import "variables";

.wrap{
  min-height: 100%;
  position: relative;
  background:linear-gradient(left,rgba(255,255,255,0) 0%,rgba(255,255,255,1) 20%,rgba(255,255,255,1) 80%,rgba(255,255,255,0) 100%);
}

section.archive{
  font-family: $fontSourceSansPro;
  ul{
    padding: 0;
    li{
      list-style: none;
      padding: 2px 0 0 40px;
      p{
        font-size: 20px;
        color:#34495e;
      }
      span{
        display: block;
        margin: 4px 0;
      }
      span.date{
        float: left;
        width: 125px;
        color: #7f8c8d;
      }
      span.title{
        margin-left: 125px;
        color: #42b983;
        cursor: pointer;
        word-break: break-all;
        &:hover {
          color: #267B54;
        }
      }
    }
  }
}
