@import "variables";

section.article{
  font-family: $fontSourceSansPro;
  color: #34495e;
  line-height: 1.6;
  padding-bottom: 160px;
  .post-block {
    .post-title {
      margin: 0.65em 0;
      color: #2c3e50;
      font-size: 1.5em;
    }

    .post-info {
      color: #7f8c8d;
      margin: 1.2em 0;
      span {
        margin-left: 0.5rem;
      }
      a.post-from {
        margin-left: 0.5rem;
        padding: 3px 6px;
        border-radius: 5px;
        font-size: 12px;
        color: white;
        background-color: #E36B6B;
      }
    }
  }

  .post-content {
    h2, h3, h4, h5, h6 {
      position: relative;
      margin: 1em 0;
      &:before {
        content: "#";
        color: #42b983;
        position: absolute;
        left: -0.7em;
        top: -4px;
        font-size: 1.2em;
        font-weight: bold;
      }
    }
    h4, h5, h6 {
      &:before {
        content: "";
      }
    }

    h2, h3 {
      font-size: 22px;
    }

    h4, h5, h6 {
      font-size: 18px;
    }
    a {
      color: #42b983;
      word-break: break-all;
    }
    blockquote {
      margin: 2em 0;
      padding-left: 20px;
      border-left: 4px solid #42b983;
    }
    img {
      display: block;
      max-width: 100%;
      margin: 1em auto;
    }
  }

  code,
  pre {
    font-size: 0.8em;
    background-color: #f8f8f8;
    font-family: 'Roboto Mono', Monaco, courier, monospace;
    color: #525252;
  }
}