@import "variables";

section.article{
  font-family: $fontArial;
  color: $baseColor1;
  width: 70%;
  min-width: 400px;
  max-width: 960px;
  margin: 40px auto;
  //background-color: rgba(10,10,10,0.5);
  .title{
    text-align: center;
    font-size: 40px;
    margin: 40px;
  }
  article{
    @import "markdown";
  }
}