@import "normalize";
@import "font-awesome";
@import "variables";
@import "mediaQuery";

html,body{
  height: 100%;
  font-family: $fontGothic;
}
ul,ol,li{
  list-style: none;
}
button{
  border: none;
  outline: none;
  background-color: transparent;
}
a{
  text-decoration: none;
}