@import "variables";

aside.console{
  position: absolute;
  left: 0;
  top:$headerHeight;
  bottom:0;
  width:200px;
  background-color: transparent;
  .head{
    position: relative;
    width: 100%;
    height: 200px;
    background-color: rgba(10,10,10,0.5);
    .circle{
      width:100px;
      height: 100px;
      position: relative;
      top:50px;
      left: 50px;
      border-radius:50px;
      overflow: hidden;
      img{
        width:100px;
        height: 100px;
      }
    }

  }
  menu{
    margin:0;
    padding: 0;
    position: absolute;
    top:200px;
    bottom: 0;
    width: 200px;
    color: $baseColor1;
    border-right: 2px solid $baseColor1;
    ul{
      padding: 0 50px;
      li{
        margin: 10px 0 0 0;
        border-bottom: 2px solid $baseColor1;
        padding-left: 4px;
        list-style: none;
        cursor: pointer;
        height: 40px;
        line-height: 40px;
        span{
          display: inline-block;
          margin-left:20px;
        }
        :hover{
          color: lighten($baseColor1,20%);
        }
      }
    }
  }
}