@import "variables";
@import "mixins";

@mixin editStyle(){
  margin: 0 50px;
  height: calc(100% - 150px);
  width: calc(100% - 100px);
  textarea,button,article{
    box-sizing: border-box;
    height: 90%;
    float: left;
    transition: width 0.6s;
    background-color: transparent;
  }
  textarea{
    padding: 20px;
    border: none;
    outline: none;
    background-color: rgba(10,10,10,0.6);
  }
  button{
    @include defaultButton(transparent,$baseColor1);
    margin: 0 10px;
    width: 20px;
    padding: 0;
    text-align: center;
    border: 1px solid $baseColor1;
  }
  article{
    background-color: rgba(10,10,10,0.6);
  }

}

section.editor{
  @include rightSide();
  textarea{
    resize: none;
  }
  .title{
    @include defaultInput(400px,60px);
    display: block;
    text-align: center;
    font-size: 40px;
    margin: 20px auto;
    border-bottom: 2px solid $baseColor1;
  }

  .edit{
    @include editStyle();
    textarea{
      width: calc(100% - 40px);
    }
    article{
      width: 0;
      overflow: hidden;
    }
  }
  .inspect{
    @include editStyle();
    textarea{
      width: calc(50% - 20px);
    }
    article{
      width: calc(50% - 20px);
      overflow:auto;
    }
  }
  .panel{
    margin: 0 50px;
    position: relative;
    height: 30px;
    input{
      @include defaultInput(160px,30px);
      border-bottom: 2px solid $baseColor1;
      text-align: center;
    }
    button.save{
      @include defaultButton();
      position: absolute;
      right: 0;
      height: 30px;
      width: 60px;
      border: 1px solid $baseColor1;
    }
  }
}