section.container {
  margin: 2em 10px;
}

@media screen and (min-width: 701px) {
  header.myHeader {
    padding: 20px 100px;
    margin-bottom: 60px;
  }
  .wrap,footer {
    width: 700px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 700px) {
  header.myHeader {
    padding: 20px 0;
    margin-bottom: 20px;;
    div.circle,
    ul.menu {
      margin: 0 auto;
      float: none;
      display: block;
      text-align: center;
      padding: 0;
      li {
        padding: 10px 10px;
      }
    }
  }
  .wrap,footer {
    width: 100%;
  }

  section .post-block {
    padding: 0 30px;
  }
  .post-content {
    h2, h3, h4, h5, h6 {
      max-width: 300px;
      left: 15px;
    }
  }
  .archive .item{
    padding-left: 20px;
  }
}