@import "variables";
@import "mixins";

section.menu{
  @include rightSide();
  color:$baseColor1;
  min-width: 500px;
  .title{
    width:400px;
    text-align: center;
    font-size: 30px;
    margin: 40px auto;
  }
  table {
    width: 700px;
    position: relative;
    @include center();
    tr {
      height: 50px;
      th {
        &:first-of-type {
          width: 120px;
        }
        &:nth-of-type(2) {
          width:60%;
        }
      }
      td {
        text-align: center;
        input{
          @include defaultInput(60%,30px);
          border:1px solid $baseColor1;
        }
        &:first-of-type{
          input{
            max-width:60px;
          }
          i{
            cursor: pointer;
            &:after{
              content: '';
              width: 10px;
              display: inline-block;
            }
          }
        }
      }
    }
  }
  .panel{
    margin-top: 50px;
    button{
      @include defaultButton();
      position: absolute;
      right: 0;
      height: 30px;
      width: 60px;
      border: 1px solid $baseColor1;
    }
  }
}