@import "variables";
@import "mixins";

header {
  height: $headerHeight;
  background-color: $baseColor3;
  font-family: $fontYaHei;
  position: relative;
  z-index: 10;
  .home {
    @include defaultButton($baseColor3,darken($baseColor3,5%));
    color:$baseColor1;
    height: $headerHeight;
    line-height: $headerHeight;
    width: 140px;
    margin: 0 0 0 100px;
    font-size: 24px;
    &:hover{
      color:$baseColor1;
    };
  }
  .user {
    height: $headerHeight;
    display: inline-block;
    position: absolute;
    top:0;
    right: 20px;
    span {
      line-height: $headerHeight;
      color: $baseColor1;
      cursor: default;
    }
    button {
      @include defaultButton();
      height: $headerHeight * 2 / 3;
    }
  }
}