@import "variables";
@import "mixins";

header.naviHeader{
  height: $headerHeight;
  background-color: rgba(10,10,10,0.5);
  font-family: $fontYaHei;
  position: relative;
  z-index: 10;
  .home {
    @include defaultButton(transparent, $baseColor1);
    border: none;
    outline: none;
    width: 200px;
    height: $headerHeight;
    &:hover{
      color:darken($baseColor1,20%);
    }
  }
  .user {
    height: $headerHeight;
    display: inline-block;
    position: absolute;
    top:0;
    right: 20px;
    span {
      line-height: $headerHeight;
      color: $baseColor1;
      cursor: default;
    }
    button {
      @include defaultButton(transparent, $baseColor1);
      width: 100px;
      height:$headerHeight;
      span{
        cursor: pointer;
      }
    }
  }
}