@import "variables";
@import "mixins";

.shade{
  font-family: $fontYaHei;
  font-weight: 100;
  @include shade();
  .content{
    position: absolute;
    width: 400px;
    height: 240px;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    color: white;
    padding-top: 60px;
    p{
      text-align: center;
      font-size: 20px;
    }
    div.button{
      width: 100%;
      position: absolute;
      bottom: 0;
      text-align: center;
      button{
        @include defaultButton(transparent,#FFF);
        border: 1px solid #FFF;
        width:100px;
        height: 30px;
        font-size: 14px;
        line-height: 30px;
      }
    }
  }
}