
$baseColor1: #E1F6F4;
$baseColor2: #BFE9DB;
$baseColor3: #6AC1B8;
$baseColor4: #07588A;

$fontLucy: 'Lucida Console', Monaco, monospace, sans-serif;
$fontComic: 'Comic Sans MS', cursive, sans-serif;
$fontArial: 'Arial Narrow', sans-serif;
$fontYaHei: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
$fontHelvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;

$headerHeight: 50px;