
$baseColor1: #F5F5F5;
$baseColor2: #B9E937;
$baseColor3: #00B906;
$baseColor4: #424242;

$fontLucy: 'Lucida Console', Monaco, monospace, sans-serif;
$fontComic: 'Comic Sans MS', cursive, sans-serif;
$fontArial: 'Arial Narrow', sans-serif;
$fontYaHei: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
$fontHelvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;
$fontSourceSansPro:'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;

$headerHeight: 50px;